backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.2
comtypes==1.2.0
docopt==0.6.2
et-xmlfile==1.1.0
idna==3.4
Js2Py==0.74
numpy==1.24.4
openpyxl==3.1.2
packaging==23.2
pandas==2.0.3
pipwin==0.5.2
PyAudio @ file:///C:/Users/user/pipwin/PyAudio-0.2.11-cp38-cp38-win_amd64.whl#sha256=4cee0b30bbb8bf5b7dee95c6f010e55bf80024348b35295dc5cc86be3c274e22
pyjsparser==2.7.1
pypiwin32==223
PyPrind==2.11.3
pySmartDL==1.3.4
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2023.3.post1
pywin32==306
requests==2.31.0
six==1.16.0
soupsieve==2.5
SpeechRecognition==3.10.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.0.7
